<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>radio</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        var vm;
        window.onload=function () {
            vm=new Vue({
                el:"#example",
                data:{
                    picked:""
                }
            })
        }
    </script>
</head>
<body>
<div id="example">
    <input type="radio" value="One" id="one" v-model="picked">
    <label for="one">one</label>
    <br>
    <input type="radio" value="Two" id="two" v-model="picked">
    <label for="two">two</label>
    <br>
    <span>Picked: {{picked}}</span>
</div>
</body>
</html>