<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>select</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        var vm;
        window.onload=function () {
            vm=new Vue({
                /*el:"#example",
                data:{
                    selected:[]
                }*/
                
                /*el:"#medo",
                data:{
                    selecting:[]
                }*/
                
                el:"#mode-for",
                data:{
                    selected:"A",
                    options:[
                        {text:"one",value:"A"},
                        {text:"two",value:"B"},
                        {text:"three",value:"C"},
                    ]
                }
            })
        }
    </script>
</head>
<body>
<div id="example">
    <select v-model="selected" multiple>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
    </select>
    <br>
    <span>selected:{{selected}}</span>
</div>

<div id="medo">
    <select name="" id="" v-model="selecting">
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <br>
    <span>selected:{{selecting}}</span>
</div>

<!--动态选项,用v-for渲染-->
<div id="mode-for">
    <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">{{option.text}}</option>
    </select>
    <br>
    <span>selected:{{selected}}</span>
</div>
</body>
</html>